.img {
  max-width: 100%;
}

.btn {
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #28c0f2;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #28c0f2;
  transform: translateX(5px);
}
